@model Income

<div class="card" style="width: 18rem;">
    <h5 class="card-title">
        @Model.IncomeAmount
    </h5>
    <div class="card-body">
        <p class="card-text">
            <div>Received: @Model.IncomeDate</div>
            <div>From: @Model.IncomeSource</div> <!--Maybe put what budget it is a part of-->
        </p>
    </div>
</div>