html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pfp-big {
    height: 8rem;
    width: auto;
    border-radius: 50%;
    border: black 1px solid;
}