

<form method="Post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label for="budgetName">Budget Name</label>
    <input id="budgetName" type="text" name="BudgetName"/>

    <label for="startDate">Starting Date</label>
    <input id="startDate" type="date" name="StartDate"/>

    <label for="endDate">Ending Date</label>
    <input id="endDate" type="date" name="EndDate"/>

    <input type="Submit" value="Submit"/>
</form>