@model List<Budget>
@{
    ViewData["Title"] = "Budget Page";
}

<h1>Your Budgets:</h1>

<div>
    @foreach (Budget budget in Model)
    {
        <div>
            <h2>@budget.BudgetName</h2>
            <p>@budget.StartDate through @budget.EndDate</p>
        </div><br />
    }
</div>